<h1>@ViewData["Title"]</h1>

@model Mission08_0110.Models.Task

<form method="post">
    <input type="hidden" asp-for="TaskId"/>

    <div class="form-group">
        <label asp-for="TaskName">Task</label>
        <input type="text" class="form-control" id="TaskName" name="TaskName" value="@Model.TaskName" required/>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="DueDate">Due Date</label>
        <input type="date" class="form-control" id="DueDate" name="DueDate" value="@Model.DueDate" required />
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Quadrant">Quadrant</label>
        <select asp-for="Quadrant" class="form-control" id="Quadrant">
            <option value="">Select</option>
            <option value="1">Important/Urgent</option>
            <option value="2">Important/Not Urgent</option>
            <option value="3">Not Important/Urgent</option>
            <option value="4">Not Important/Not Urgent</option>
        </select>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId">
            <option disabled selected>Please select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId" selected="@(Model.CategoryId == c.CategoryId)">
                    @c.CategoryName
                </option>
            }
        </select>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Completed">Completed?</label>
        <select asp-for="Completed" class="form-control" id="Completed">
            <option value="">Select</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>