@{
    ViewData["Title"] = "Home Page";
}
@model List<Mission08_0110.Models.Task>

<div class="container">
    <div class="row">
        <div class="col-2">
            <button asp-controller="Home" asp-action="AddTask" type="button" class="btn-info rounded-pill">Add a Task</button>
        </div>
        <div class="col-5 border">
            <h4 class="text-center">Urgent</h4>
        </div>
        <div class="col-5 border">
            <h4 class="text-center">Not Urgent</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border">
            <h4>Important</h4>
        </div>
        <div class="col-5 border">
            <table width="100%" class="table-borderless table-hover table-striped">
                <tr>
                    <th>Status</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var t in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox" unchecked>
                    </td>
                    <td>@t.Task</td>
                    <td>@t.DueDate</td>
                    <td>
                        <select>
                            @foreach (var cat in ViewBag.Categories)
                            {
                                <option value="@cat.CategoryId">@cat.CategoryName</option>
                            }
                        </select>
                    </td>
                    <td><button asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" type="button" class="btn-info rounded">Edit</button></td>
                    <td><button asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" type="button" class="btn-danger rounded">Delete</button></td>
                </tr>
                }
                <tr>
                    <td>
                        <label >Completed?</label>
                        <input type="checkbox">
                    </td>
                    <td>Assignment Name</td>
                    <td>Saturday</td>
                    <td>
                        <select>
                            <option value="1">Home</option>
                            <option value="1">School</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn-info rounded">Edit</button></td>
                    <td><button type="button" class="btn-danger rounded">Delete</button></td>
                </tr>
            </table>
        </div>
        <div class="col-5 border">
            <table width="100%" class="table-borderless table-hover table-striped">
                <tr>
                    <th>Status</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td>
                        <label >Completed?</label>
                        <input type="checkbox">
                    </td>
                    <td>Test Name</td>
                    <td>Wednesday</td>
                    <td>
                        <select>
                            <option value="1">Home</option>
                            <option value="1">School</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn-info rounded">Edit</button></td>
                    <td><button type="button" class="btn-danger rounded">Delete</button></td>
                </tr>
                <tr>
                    <td>
                        <label >Completed?</label>
                        <input type="checkbox">
                    </td>
                    <td>Assignment Name</td>
                    <td>Saturday</td>
                    <td>
                        <select>
                            <option value="1">Home</option>
                            <option value="1">School</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn-info rounded">Edit</button></td>
                    <td><button type="button" class="btn-danger rounded">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border">
            <h4>Not Important</h4>
        </div>
        <div class="col-5 border">
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>
        </div>
        <div class="col-5 border">
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>
        </div>
    </div>
</div>