@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<Mission08_0110.Models.Task>

<div class="container">
    <br>
    <div class="row">
        <div class="col-2">
            <form asp-controller="Home" asp-action="AddTask" method="get">
                <button type="submit" class="btn btn-info rounded">Add a Task</button>
            </form>
        </div>
        <br/>
        <div class="col-5 border">
            <h4 class="text-center">Urgent</h4>
        </div>
        <div class="col-5 border">
            <h4 class="text-center">Not Urgent</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border">
            <h4>Important</h4>
        </div>
        <div class="col-5 border">
            @* Quadrant 1 Urgent, Important *@
            <table width="100%" class="table-borderless table-hover table-striped">
                <tr>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var t in Model)
                {
                    if (t.Quadrant == 1)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input" @(t.Completed ? "checked" : "")/>
                            </td>
                            <td>@t.TaskName</td>
                            <td>@t.DueDate</td>
                            <td>@t.Category.CategoryName</td>
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info rounded">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-danger rounded">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div class="col-5 border">
            @* Quadrant 2 Not Urgent, Important *@
            <table width="100%" class="table-borderless table-hover table-striped">
                <tr>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var t in Model)
                {
                    if (@t.Quadrant == 2)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input" @(t.Completed ? "checked" : "") />
                            </td>
                            <td>@t.TaskName</td>
                            <td>@t.DueDate</td>
                            <td>@t.Category.CategoryName</td>
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info rounded">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-danger rounded">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border">
            <h4>Not Important</h4>
        </div>
        <div class="col-5 border">
            @* Quadrant 3 Urgent, Not Important *@
            <table width="100%" class="table-borderless table-hover table-striped">
                <tr>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var t in Model)
                {
                    if (@t.Quadrant == 3)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input" @(t.Completed ? "checked" : "") />
                            </td>
                            <td>@t.TaskName</td>
                            <td>@t.DueDate</td>
                            <td>@t.Category.CategoryName</td>
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info rounded">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class=" btn btn-danger rounded">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="col-5 border">
            @* Quadrant 4 Not Urgent, Not Important *@
            <table width="100%" class="table-borderless table-hover table-striped">
                <tr>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var t in Model)
                {
                    if (@t.Quadrant == 4)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input" @(t.Completed ? "checked" : "") />
                            </td>
                            <td>@t.TaskName</td>
                            <td>@t.DueDate</td>
                            <td>@t.Category.CategoryName</td>
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info rounded">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class=" btn btn-danger rounded">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
